# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3

# Docker
*.env
docker-compose.override.yml

# Virtual environments
.env/
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# MacOS
.DS_Store

# Node
node_modules/

# codo
.qodo/